## Dataset

**Link:** *https://www.kaggle.com/datasets/ra4u12/bookrecommendation*

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
os.getcwd()

'c:\\Users\\amman\\Documents\\MLOPS\\End-to-End-Book-Recommender-System\\notebooks'

In [3]:
os.chdir("../")
os.getcwd()

'c:\\Users\\amman\\Documents\\MLOPS\\End-to-End-Book-Recommender-System'

In [14]:
books = pd.read_csv("data/BX-Books.csv", sep=";", encoding="latin-1", on_bad_lines="skip")

C:\Users\amman\AppData\Local\Temp\ipykernel_19148\1824163659.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv("data/BX-Books.csv", sep=";", encoding="latin-1", on_bad_lines="skip")

In [15]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [16]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271358 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [17]:
books.shape

(271360, 8)

In [18]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

Only want to use large images for books

In [19]:
books = books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher', 'Image-URL-L']]

In [20]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

Rename the columns

In [21]:
books.rename(columns={'Book-Title': 'title', 'Book-Author': 'author', 'Year-Of-Publication': 'year', 'Publisher': 'publisher', 'Image-URL-L': 'image_url'}, inplace=True)

In [22]:
books.head()

,ISBN,title,author,year,publisher,image_url
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

Load user data

In [23]:
users = pd.read_csv("data/BX-Users.csv", sep=";", encoding="latin-1", on_bad_lines="skip")

In [24]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [25]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [26]:
users.shape

(278858, 3)

Rename columns

In [27]:
users.rename(columns={'User-ID': 'user_id', 'Location': 'location', 'Age': 'age'}, inplace=True)
users.head()

   user_id                            location   age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

Load book ratings data

In [28]:
ratings = pd.read_csv("data/BX-Book-Ratings.csv", sep=";", encoding="latin-1", on_bad_lines="skip")
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [29]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [30]:
ratings.shape

(1149780, 3)

Rename the columns

In [31]:
ratings.rename(columns={'User-ID': 'user_id', 'Book-Rating': 'rating'}, inplace=True)
ratings.head()

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5
2   276727  0446520802       0
3   276729  052165615X       3
4   276729  0521795028       6

In [32]:
print(books.shape, users.shape, ratings.shape, sep="\n")

(271360, 6)
(278858, 3)
(1149780, 3)

In [33]:
ratings["user_id"].nunique()

105283

In [34]:
users["user_id"].nunique()

278858

In [35]:
books["ISBN"].nunique()

271360

In [36]:
# Person who reads most books
ratings["user_id"].value_counts()

user_id
11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
119573        1
276706        1
276697        1
276679        1
276676        1
Name: count, Length: 105283, dtype: int64

Let's keep only those users who have rated at least 100 books

In [41]:
at_least_100 = ratings["user_id"].value_counts()[ratings["user_id"].value_counts() >= 100].index.tolist()
print(f"Number of users who rated at least 100 books: {len(at_least_100)}")

Number of users who rated at least 100 books: 1847

In [42]:
ratings = ratings[ratings["user_id"].isin(at_least_100)]
ratings.shape

(658805, 3)

In [44]:
ratings.head()

     user_id        ISBN  rating
412   276925  0006511929       0
413   276925  002542730X      10
414   276925  0060520507       0
415   276925  0060930934       0
416   276925  0060951303       0

In [46]:
# Merge ratings and books dataframes
ratings_and_books = ratings.merge(books, on="ISBN")
ratings_and_books.head()

,user_id,ISBN,rating,title,author,year,publisher,image_url
0,276925,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,276925,0060520507,0,"Sushi for Beginners : A Novel (Keyes, Marian)",Marian Keyes,2003,William Morrow,http://images.amazon.com/images/P/0060520507.0...
2,276925,0060930934,0,Wasted : A Memoir of Anorexia and Bulimia,Marya Hornbacher,1999,Perennial,http://images.amazon.com/images/P/0060930934.0...
3,276925,0060951303,0,La casa de los espÃ­ritus,Isabel Allende,1995,Rayo,http://images.amazon.com/images/P/0060951303.0...
4,276925,0140154078,6,The Music of Chance,Paul Auster,1993,Penguin Books,http://images.amazon.com/images/P/0140154078.0...

In [47]:
ratings_and_books.shape

(606344, 8)

In [49]:
# Number of ratings per book
number_ratings = ratings_and_books.groupby("title")["rating"].count().reset_index()
number_ratings.rename(columns={"rating": "number_ratings"}, inplace=True)
number_ratings.sort_values(by="number_ratings", ascending=False, inplace=True)
number_ratings.head()

                             title  number_ratings
177972                 Wild Animus             617
148326   The Lovely Bones: A Novel             430
21581        Bridget Jones's Diary             363
138270           The Da Vinci Code             336
150591  The Nanny Diaries: A Novel             315

In [50]:
number_ratings.tail()

                                                    title  number_ratings
182479  Ã?ber den Wunsch, sich wohlzufÃ¼hlen: Geschichten               1
182466                              them (Modern Library)               1
182468                                       voyage fatal               1
182469                             wet sand, raven tracks               1
182470  whataboutrick.com: a poetic tribute to Richard...               1

In [51]:
ratings_and_books = ratings_and_books.merge(number_ratings, on="title")
ratings_and_books.head()

,user_id,ISBN,rating,title,author,year,publisher,image_url,number_ratings
0,276925,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,105
1,276925,0060520507,0,"Sushi for Beginners : A Novel (Keyes, Marian)",Marian Keyes,2003,William Morrow,http://images.amazon.com/images/P/0060520507.0...,16
2,276925,0060930934,0,Wasted : A Memoir of Anorexia and Bulimia,Marya Hornbacher,1999,Perennial,http://images.amazon.com/images/P/0060930934.0...,12
3,276925,0060951303,0,La casa de los espÃ­ritus,Isabel Allende,1995,Rayo,http://images.amazon.com/images/P/0060951303.0...,8
4,276925,0140154078,6,The Music of Chance,Paul Auster,1993,Penguin Books,http://images.amazon.com/images/P/0140154078.0...,6

In [52]:
# Lets keep books with at least 50 ratings
ratings_and_books = ratings_and_books[ratings_and_books["number_ratings"] >= 50]
ratings_and_books.shape

(100811, 9)

In [53]:
# Lets check for duplicates
ratings_and_books.duplicated(subset=["user_id", "title"]).sum()

np.int64(2472)

In [54]:
ratings_and_books = ratings_and_books.drop_duplicates(subset=["user_id", "title"])
ratings_and_books.shape

(98339, 9)

In [55]:
# Check for missing values
ratings_and_books.isnull().sum()

user_id           0
ISBN              0
rating            0
title             0
author            0
year              0
publisher         0
image_url         0
number_ratings    0
dtype: int64

In [56]:
# Lets create a pivot table with books as rows and users as columns
ratings_pivot = ratings_and_books.pivot_table(index="title", columns="user_id", values="rating")
ratings_pivot.head()

user_id,183,254,507,882,1424,1435,1733,1903,2033,2110,...,276018,276463,276680,276925,277427,277478,277639,278137,278188,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010: Odyssey Two,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204 Rosewood Lane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
24 Hours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN

In [57]:
ratings_pivot.shape

(1098, 1805)

In [58]:
# Fill missing values with 0
ratings_pivot.fillna(0, inplace=True)

In [59]:
ratings_pivot.head()

user_id,183,254,507,882,1424,1435,1733,1903,2033,2110,...,276018,276463,276680,276925,277427,277478,277639,278137,278188,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2010: Odyssey Two,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
204 Rosewood Lane,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24 Hours,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0

Lets create a CSR matrix from the pivot table

In [60]:
from scipy.sparse import csr_matrix

In [61]:
ratings_matrix = csr_matrix(ratings_pivot)

In [62]:
ratings_matrix

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 27024 stored elements and shape (1098, 1805)>

### Model Training

Lets train a Nearest Neighbour Model for this problem

In [63]:
from sklearn.neighbors import NearestNeighbors

In [64]:
model = NearestNeighbors(algorithm="brute")

In [65]:
model.fit(ratings_matrix)

NearestNeighbors(algorithm='brute')

In [ ]:
# Get the index of the book we want to find similar books for
ratings_pivot.index.get_loc("Harry Potter and the Goblet of Fire (Book 4)")

345

In [69]:
ratings_pivot.iloc[345]

user_id
183       0.0
254       9.0
507       0.0
882       0.0
1424      0.0
         ...
277478    0.0
277639    0.0
278137    0.0
278188    0.0
278418    0.0
Name: Harry Potter and the Goblet of Fire (Book 4), Length: 1805, dtype: float64

In [70]:
distance, suggestions = model.kneighbors(ratings_matrix[345], n_neighbors=6)

In [71]:
distance

array([[ 0.        , 76.22991539, 83.63013811, 84.        , 87.82368701,
        88.1192374 ]])

In [72]:
suggestions

array([[345, 347, 344, 346, 777, 669]])

In [73]:
for i in range(1, len(suggestions.flatten())):
    print(ratings_pivot.index[suggestions.flatten()[i]], "with distance of", distance.flatten()[i])

Harry Potter and the Prisoner of Azkaban (Book 3) with distance of 76.2299153875957
Harry Potter and the Chamber of Secrets (Book 2) with distance of 83.6301381082203
Harry Potter and the Order of the Phoenix (Book 5) with distance of 84.0
The Charm School with distance of 87.82368700982668
Silent Night : A Christmas Suspense Story with distance of 88.11923740024082

In [74]:
book_names = ratings_pivot.index

In [88]:
book_names = []

for book_id in suggestions.flatten()[1:]:
    book_names.append(ratings_pivot.index[book_id])

book_names

['Harry Potter and the Prisoner of Azkaban (Book 3)',
 'Harry Potter and the Chamber of Secrets (Book 2)',
 'Harry Potter and the Order of the Phoenix (Book 5)',
 'The Charm School',
 'Silent Night : A Christmas Suspense Story']

In [96]:
for name in book_names:
    url = ratings_and_books[ratings_and_books["title"] == name]["image_url"].values[0]
    print(name, url)

Harry Potter and the Prisoner of Azkaban (Book 3) http://images.amazon.com/images/P/0439136369.01.LZZZZZZZ.jpg
Harry Potter and the Chamber of Secrets (Book 2) http://images.amazon.com/images/P/0439064872.01.LZZZZZZZ.jpg
Harry Potter and the Order of the Phoenix (Book 5) http://images.amazon.com/images/P/043935806X.01.LZZZZZZZ.jpg
The Charm School http://images.amazon.com/images/P/0446353205.01.LZZZZZZZ.jpg
Silent Night : A Christmas Suspense Story http://images.amazon.com/images/P/067100042X.01.LZZZZZZZ.jpg

In [110]:
import pickle
pickle.dump(model, open("artifacts/model.pkl", "wb"))
pickle.dump(book_names, open("artifacts/book_names.pkl", "wb"))
pickle.dump(ratings_and_books, open("artifacts/ratings_and_books.pkl", "wb"))
pickle.dump(ratings_pivot, open("artifacts/ratings_pivot.pkl", "wb"))

### Inference Model

In [105]:
def recommend_book(book_name):

    try:
        book_id = np.where(ratings_pivot.index == book_name)[0][0]
        distances, suggestions = model.kneighbors(ratings_pivot.iloc[book_id, :].values.reshape(1, -1), n_neighbors=6)
        print(f"You searched for '{book_name}'\n")
        print(f"The recommended books are: \n")

        for book_id in suggestions.flatten()[1:]:
            print(ratings_pivot.index[book_id])
            
    except IndexError:
        print(f"Book '{book_name}' not found in the database.")
        return

In [109]:
book_name = "Harry Potter and the Goblet of Fire (Book 4)"
recommend_book(book_name)

You searched for 'Harry Potter and the Goblet of Fire (Book 4)'

The recommended books are:

Harry Potter and the Prisoner of Azkaban (Book 3)
Harry Potter and the Chamber of Secrets (Book 2)
Harry Potter and the Order of the Phoenix (Book 5)
The Charm School
Silent Night : A Christmas Suspense Story